# Project exclude paths
/ts-admin-basic-info-service/target/
/ts-admin-order-service/target/
/ts-admin-route-service/target/
/ts-admin-travel-service/target/
/ts-admin-user-service/target/
/ts-assurance-service/target/
/ts-auth-service/target/
/ts-cancel-service/target/
/ts-common/target/
/ts-config-service/target/
/ts-consign-price-service/target/
/ts-consign-service/target/
/ts-contacts-service/target/
/ts-delivery-service/target/
/ts-execute-service/target/
/ts-food-delivery-service/target/
/ts-food-service/target/
/ts-gateway-service/target/
/ts-inside-payment-service/target/
/ts-order-other-service/target/
/ts-order-service/target/
/ts-preserve-other-service/target/
/ts-preserve-service/target/
/ts-price-service/target/
/ts-rebook-service/target/
/ts-route-plan-service/target/
/ts-route-service/target/
/ts-seat-service/target/
/ts-security-service/target/
/ts-station-food-service/target/
/ts-train-food-service/target/
/ts-train-service/target/
/ts-travel2-service/target/
/ts-travel-plan-service/target/
/ts-user-service/target/
/ts-wait-order-service/target/